/* Importa fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Helvetica:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

:root {
    /* --blue-400: #1fcbdf;
    --blue-500: #0396A6; */
    --color1: #ffc400;
    --color2: #ff9100;
}   

body {
    font-family: 'Nunito', sans-serif; /* Define a fonte da página */
    line-height: 0; /* Define a altura da linha */
    color: #333; /* Cor do texto */
    max-width: 800px; /* Largura máxima da página */
    margin: 0 auto; /* Centraliza a página */
    padding: 0px; /* Espaçamento interno */
    background-color: #f4f4f4; /* Cor de fundo da página */
    /* border: 1px solid; */
    background: linear-gradient(90deg, var(--color2), var(--color1));
}

header {
    color: white; /* Cor do texto */
    text-align: left; /* Alinha o texto ao centro */
    padding: 1rem; /* Espaçamento interno */
    margin-bottom: 2rem; /* Espaçamento abaixo do cabeçalho */
    width: 100%;
}

main {
    display: grid   ;
    align-items: left;
    justify-content: left;
    gap: 1rem;
    width: 100%;
    height: calc(100% - 8.8rem);
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%;
}

#search-input {
    flex-grow: 1;
    margin-right: 10px;
}

#search-button {
    width: auto;
    padding: 10px 15px;
}

h1, h2 {
    margin-bottom: 1rem; /* Espaçamento abaixo dos títulos */
    color: white;
}

input, button {
    display: inline-block; /* Changed from block to inline-block */
    width: auto; /* Changed from 90% to auto */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

button {
    background-color: #00416c; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove a borda padrão */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s ease; /* Transição suave para a mudança de cor */
}

button:hover {
    background-color: #2980b9; /* Muda a cor de fundo ao passar o mouse */
}

#items-container {
    display: grid; /* Usa grid para layout */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Define colunas responsivas */
    gap: 20px; /* Espaçamento entre os itens */
    margin-top: 20px; /* Espaçamento acima do container */
}

.item {
    background-color: white; /* Cor de fundo dos itens */
    border: 1px solid #ddd; /* Borda leve */
    border-radius: 6px; /* Bordas arredondadas */
    padding: 10px; /* Espaçamento interno */
    text-align: center; /* Alinha o texto ao centro */
}

.item img {
    max-width: 100%; /* Largura máxima da imagem */
    height: auto; /* Altura automática para manter a proporção */
    margin-bottom: 10px; /* Espaçamento abaixo da imagem */
}

footer {
    text-align: left; /* Alinha o texto ao centro */
    margin-top: 2rem; /* Espaçamento acima do rodapé */
    padding: 1rem; /* Espaçamento interno */
    /* background-color: #e3e3e3; /* Cor de fundo do rodapé */
    color: white; /* Cor do texto do rodapé */
    font-family: "Helvetica";
    font-size: 18px;
}
